body {
  background: rgb(254, 238, 241);
}

header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 45px;
}

.connect {
  margin-left: 5%;
}

.social-network {
  position: absolute;
  right: 5%;
}

main {
  text-align: center;
}

#title {
  display: flex;
}

.title-logo {
  position: relative;
  left: 25%;
  transform: translateX(-50%);
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
