@font-face {
  font-family: amatic;
  src: url(font/amatic/Amatic-Bold.ttf);
}

body {
  background: rgb(254, 238, 241);
  font-family: amatic;
}

header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 45px;
}

.connect {
  margin-left: 5%;
}

.social-network {
  position: absolute;
  right: 5%;
}

main {
  text-align: center;
}

#title {
  display: flex;
}

.title-logo {
  position: relative;
  left: 33%;
  transform: translateX(-50%);
}

.title {
  font-size: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
